.playField {
  border: 1px solid lightgrey;
  float: left;
  margin: 20px;
}
.nextPiece {
  float: left;
  margin: 20px;
}
.cell {
  width: 12px;
  height: 12px;
}
.cell-i {
  background-color: lightblue;
}
.cell-o {
  background-color: brown;
}
.cell-t {
  background-color: purple;
}
.cell-s {
  background-color: green;
}
.cell-z {
  background-color: red;
}
.cell-j {
  background-color: blue;
}
.cell-l {
  background-color: orange;
}
